@charset "utf-8";

body{
    background-color: rgb(16, 184, 128);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h1{
    color: rgb(10, 68, 49);
   
}
h1#principal {
    color: rgb(168, 6, 6);
    text-align: center;
    background-color: rgb(4, 141, 141);

}

h2{
    color: rgb(3, 171, 9);
    

}
.meu{
    color: rgb(43, 63, 192);
    font-weight: 600;

}

.intermediario{
    color: rgb(230, 236, 43);
}
.avançado{
    color: rgb(240, 19, 19);
}
.destaque{
    background-color: rgb(218, 195, 239);
    color: rgb(28, 83, 76);
    font-weight: 600;
    font-style: italic;
}
