@charset "UTF-8";
*{
font-family: Arial, Helvetica, sans-serif;    


}

body{
background-image: linear-gradient(to right,#5D8A66,#1A6566 );

}

main{
background-color: blanchedalmond;
width: 600px;
padding: 10px;
margin: auto;
border-radius: 10px;
box-shadow: 10px 10px 5px #0ed2bf;
}

h1{
 color: #174a4b;
 text-align: center;
 text-shadow: 1px 1px 2px #078778;

}

h2{
color: #5D8A66;

}

p {
text-align: justify;
color: #323050;

}

